<p id="notice"><%= notice %></p>

<h1> Actions </h1>

<h4> Single image: <%= link_to 'Add a single Image', new_image_path, class: 'btn btn-primary text-light' %> </h4>

<h4> Multiple images: <%= link_to 'Add multiple Images', bulk_images_new_path, class: 'btn btn-primary text-light' %> <%= link_to 'Destroy all images', bulk_images_destroy_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger text-light'  %> </h4>

<h3>Images : <%= Image.count %> </h3>
<%= form_with url: "/images", method: :get do |form| %>
  <div class="field">
    <div class="input-group col-6">
      <input id="query" name="query" type="text" class="form-control py-2" placeholder="What are you looking for?">
      <span class="input-group-append mr-3">
        <%= form.submit "Search", class: "btn btn-outline-secondary"%>
      </span>
      <%= form.select :limit, [10, 25, 100, 250], :selected => request.params['limit'] || 100, class: "input-small ml-3" %>
    </div>
  </div>
<% end %>

<div class="row image-grid">
<% @images.each do |image| %>
    <div class="col-sm-3 mb-2">
      <div class="panel panel-default">
        <div class="card">
          <%= image_tag(image.asset, class: "img-responsive center-block rounded card-img-top", width: '250px', height: '250px') %>
          <div class="card-body">
            <p><%= image.title %></p>
            <%= link_to 'Show', image, class: 'btn btn-primary text-light' %>
            <%= link_to 'Edit', edit_image_path(image), class: 'btn btn-secondary text-light' %>
            <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger text-light' %>
          </div>
        </div>
      </div>
    </div>
<% end %>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <% (@count/(request.params['limit'] || 100).to_f).ceil.times do |i| %>
      <li class="page-item"><%= link_to i + 1, request.params.merge(:page => i), class: 'page-link' %></li>
    <% end %>
  </ul>
</nav>

<div>

</div>

