<p id="notice"><%= notice %></p>

<h1> Actions </h1>


<h4> Single Image: <%= link_to 'Add an Image', new_image_path %> </h4>

<h4> Multiple Images: <%= link_to 'Add multiple Images', '/bulk_images' %> </h4>


<%#= link_to 'Destroy multiple Images', '/bulk_images' %>

<h1>Images : <%= Image.count %> </h1>
<%= form_with url: "/images", method: :get do |form| %>
  <div class="field">
    <%= form.label :query, "Search for:" %>
    <%= form.text_field :query, :value => request.params["query"] %>
    <%= form.select :limit, [10, 25, 100, 250], :selected => request.params['limit'] || 250 %>
  </div>

  <%= form.submit "Search" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Asset</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td>
          <% if image.asset.persisted? %>
            <%= image_tag(image.asset, width: '50px') %>
          <% end %>
        </td>
        <td><%= image.title %></td>
        <td><%= link_to 'Show', image %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <% (@count/(request.params['limit'] || 250).to_f).ceil.times do |i| %>
    <%= link_to i+1, request.params.merge(:page => i) %>
  <% end %>
</div>

