<p id="notice"><%= notice %></p>

<div class="card">
  <% if @image&.asset %> <%= image_tag(@image&.asset, class: "img-responsive center-block rounded card-img-top") %> <% end %>
  <div class="card-body">
    <h3><%= @image&.title %></h3>
    <%= link_to 'Edit', edit_image_path(@image), class: 'btn btn-secondary text-light'  %>
    <%= link_to 'Back', images_path, class: 'btn btn-primary text-light' %>
  </div>
</div>